<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Welcome - details for the technical test.
    </span>
  </summary>
  <div class="govuk-details__text">
    You have 2-3 hours to create at least 3 UI components from the GOV.UK Design System in Angular.  One of the components must accept user input e.g., Text input, Text area, Select or Radio.  Once the time period has expired please zip up your work, any comments/notes you have made and email them to us.
  </div>
</details>
